<body>
    <div  class="firstdiv firstdivimage background-tint firstdivcontent">
        <h1>
            <strong>
                <div class="firstdivcontent title rel" >
                    CONTACT US
                </div>
            </strong>
        </h1>
    </div>

    <div class="seconddiv flex-container"> 

        <div class="children flex-1"> 
            <div class=info>
                <h1>LOCATION</h1>
                <div class="locationborder"></div>
                <div class="address">
                    <p>ADDRESS: 1420 South Ritchey Street, Unit E<br>Santa Ana, CA 92705<br></p>
                </div>
                <div class="phone">
                    <p>PHONE: (714) 568-0623</p>
                </div>
                <div class="email">
                    <p>Email: sosprecision1@yahoo.com</p>
                </div>
                <div class='email2'>
                    <p>Contact: <a href="mailto:no-one@snai1mai1.com?subject=free chocolate">Click here to email us!</a></p>
                </div>
            </div>
        </div>            

        <div class="children flex-2 background-tint2"> 
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3318.194582793606!2d-117.84409228479338!3d33.729784180694864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcd95b5b13e4e3%3A0xe284f223426c7ca7!2s1420%20Ritchey%20St%20Unit%20E%2C%20Santa%20Ana%2C%20CA%2092705!5e0!3m2!1sen!2sus!4v1597442050847!5m2!1sen!2sus" scrolling="no" frameborder="" allowfullscreen="false" aria-hidden="false" tabindex="0"></iframe>
        </div>

    </div>
    <div class="picturesectionpicture picturesection background-tint3">
        <div class="thirddivcontent title2 rel2" >
          WE LOOK FORWARD TO WORKING WITH YOU!
      </div>
    </div>
</body>