<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <div  class="firstdiv firstdivimage background-tint firstdivcontent">
        <h1>
            <strong>
                <div class="firstdivcontent title rel" >
                    ABOUT US
                </div>
            </strong>
        </h1>
</div> 
    <div class="seconddiv"> 
            <div class="flex-container">
                <div class="left">
                    <h1>
                        SOS<br>PRECISION<br>MACHINING<br>TECH.
                    </h1>
                </div>
                <div class="mid">
    
                </div>
                <div class="right">
                    <p>
                       Welcome to SOS Precision! We are a full service, family-owned machine shop committed to high quality, on time delivery, 
                       and customer satisfaction since 1993. 
                    </p>
                    <p>
                        We stand 
                        ready to fulfill your requests from R&D prototypers development through CNC production wrther it requires turning or milling with ferrous and 
                        non-ferrrous material at competitive prices.
                    </p>
                </div>
            </div>
      
    </div>
    <div class="thirddiv"> 
        <div class="row">
            <div class="col-md backgroundcol background-tintthird">
               <div class="thirdimage"></div>
            </div>
            <div class="col-md thirddivtext">
                    <p class="thirdtext">
                       For a quotation please E-mail your drawing to sosprecision1@yahoo.com or contact us through the contact page 
                       <a routerLink="/contactus">here</a>
                       . In most cases, we reply with prices and delivery information within the same day.
                    </p>
               
            </div>
        </div>
    </div>

</body>