<form>
    <div class="form group col-md-12">
        <label for="subject">Subject*</label>
        <input type="text" class="form-control" id="subject" >
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="firstName">First Name*</label>
            <input type="text" class="form-control" id="firstName" >
        </div>
        <div class="form-group col-md-6">
            <label for="lastName">Last Name*</label>
            <input type="text" class="form-control" id="lastName" >
        </div>
    </div> 

    <div class="form group col-md-12">
        <label for="companyName">Company Name</label>
        <input type="text" class="form-control" id="companyName" >
    </div>

    <div class="form-group col-md-12">
        <label for="email">Email*</label>
        <input type="email" class="form-control" id="email">
    </div>

    <div class="form-group col-md-12">
        <label for="telephone">Phone</label>
        <input type="tel" class="form-control" id="telephone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="555-555-5555">
    </div>

    <div class="form-group col-md-12">
        <label for="comment">Comment</label>
        <textarea id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>

    <div class="form-group col-md-12">
        <label for="fileUpload">File</label>
        <input type="file" class="form-control-file" id="fileUpload">
    </div>
    <div class="form-group col-md-12 acceptedFileStyle">
        <p>Accepted file type: .pdf. Submit multiple files into a .ZIP file before submitting</p>
    </div>
    <div class="form-group col-md-12">
        <button class="btn btn-primary col-md-">Submit</button>
    </div>
 
</form>
