<body>
    <div  class="firstdiv firstdivimage background-tint firstdivcontent">
            <h1>
                <strong>
                    <div class="firstdivcontent title rel" >
                        OUR WORK
                    </div>
                </strong>
            </h1>
    </div>  
    <div class="seconddiv">

            <div class="grid">
                <img src="../../assets/images/DSC_4411.png" alt="Sample photo">
                <img src="../../assets/images/DSC_4449.png" alt="Sample photo">
                <img src="../../assets/images/DSC_4432.jpg" alt="Sample photo">
                <img src="../../assets/images/DSC_4356.jpg" alt="Sample photo">
                <img src="../../assets/images/DSC_4442.jpg" alt="Sample photo">
                <img src="../../assets/images/DSC_4386.jpg" alt="Sample photo">
                <img src="../../assets/images/DSC_4396.png" alt="Sample photo">
                <img src="../../assets/images/DSC_4415.png" alt="Sample photo">
                <img src="../../assets/images/DSC_4461.jpg" alt="Sample photo">
            </div>

    </div>
</body>